<h1>COMMENT CONTACTER L'EQUIPE</h1>
<p>et voici les adresses mails des membres de l'équipe!</p>
<p>
	<a href="https://gmail.com">agaguigougou@gmail.com</a>
	<a href="https://yahoo.fr">gnehgneh@yahoo.fr</a>
</p>