<h1>BIENVENUE SUR THE GOSSIP PROJECT</h1>




<% all_gossips = Gossip.all %>

<% all_gossips.each do |id| %>

<div class="card text-center">
	<div class="card-header">
		<p> From <a href ="user" >"<%= id.user.first_name %>" </a> </p>
  	</div>
  	<div class="card-body">
		<a href="gossip"><%= id.title %> </a>
    	
    </p>
  </div>
</div>
<%end%>