<div class="alert alert-success" role="alert">
  Ton potin a été ajouté! Congrats!
</div>

<% @gossips = Gossip.all %>
<% @gossips.each do |gossip| %>

<div class="row">
	<div class="col-sm-2">
		<div class="card">
			<div class="card-body">

				<h3 class="card-title"><%= link_to user_path(gossip.user.id) do %><%=gossip.user.first_name%><% end %></h3>
				<p class="card-text"><%= link_to gossip_path(gossip.id) do %><%=gossip.title%><% end %></p>
		    	
		    
		  	</div>
		</div>
	</div>
</div>
<%end%>