<h1> POTIN N°<%=@gossip.id%>  </h1>
<div class="card">
	<h3 class="card-title"><%=@gossip.title%></h3>
	<p class="card-text">from <%=@gossip.user.first_name%> </p>
	<p class="card-text"><%=@gossip.content%></p>
</div>